body {
    text-align: center;
    color: black;
    /* color: #b1bac4; */
    background-color: white;
    /* background-color: #30363d; */
    font-size: medium;
    /* font-size: large; */
    line-height: normal;
    /* line-height: 200%; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Akaya Telivigala', cursive; */

}

